.toggle{
  margin-left: 380px;
  display: flex;
  font-weight: bold;
  background-color: yellow;
}

.inputbox{
  height: 36px;
  width: 451px;
  left: 6px;
    top: 5px;
    position: relative;
    border-radius: 1rem;
}
.button1{
  width: 75px;
  height: 30px;
  margin-left: 9px;
  margin-top: 14px;
  font-weight: bold;
  border-radius: 1rem;
  
}
.button2{
  width: 75px;
  height: 30px;
  margin-left: 9px;
  margin-top: 14px;
  font-weight: bold;
  border-radius: 1rem;
  background-color: yellow;
}
.div1{
  display: contents;
    font-weight: 600;
}
.fz{
  font-size: 16px;
}
.div2{
  width: 476px;
    height: 813px;
    border-radius: 25px;
    border: 1px solid black;
    margin-left: 163px;
}
.ml{
  margin-left: 9px;
}
.ml1{
  margin-left: 132px;
}
.ml3{
  margin-left: 311px;
    margin-top: 10px;
}
.ml4{
  margin-left: 249px;
    margin-top: 10px;
}